.counters {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter {
  max-width: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* animation: rotate 2s linear; */
  /* transform: rotateX(0deg); */
}

.number {
  width: 70px;
  height: 71px;
  color: #FB5E84;
  background-color: #191A23;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 71px;
  letter-spacing: -1.08px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.95937px;
  color: #8385A9;
}

@keyframes rotate {
  to {
    transform: rotateX(180deg) rotateZ(180deg);
  }
}

@media (min-width: 376px) {
  .counters {
    gap: 32px;
  }

  .counter {
    max-width: 148px;
  }

  .number {
    height: 150px;
    width: 148px;
    font-size: 80px;
    line-height: 71px;
    letter-spacing: -2.4px;
  }

  .time {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 5.91875px;
  }
}