body {
  background: linear-gradient(180deg, #1D1E28 0.12%, #261C2D 94.84%, #261A2D 100%);
}

main {
  height: calc(100vh - 168px);
  padding: 0 24px;
  background-image: url('./assets/bg-stars.svg');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 6.13636px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 376px) {
  main {
    gap: 54px;
  }

  h1 {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 7.5px;
  }
}

/* footer */
footer {
  height: 168px;
  padding: 96px 0 48px;
  background-image: url('./assets/pattern-hills.svg');
  background-repeat: no-repeat;
  background-position: calc((844/971) * 100%);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.social-btn {
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.social-btn .social-hover {
  display: none;
}

.social-btn:hover .social {
  display: none;
}

.social-btn:hover .social-hover {
  display: block;
}

@media (min-width: 376px) {
  main {
    height: calc(100vh - 197px);
  }

  footer {
    height: 197px;
  }
}